*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bghm {
    height: 800px;
    background-size: cover;
    background-image: url(./Computer-Science-Wallpapers-006.jpg);
}

.navbar {
    background-color: darkslategrey;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.nav-button {
    color: azure;
    padding-left: 40px;
    padding-right: 40px;
    font-size: x-large;
    justify-content: center;
}

.nav-button:hover {
    background-color: cornsilk;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
}

.box1 {
    background-color: rgba(255, 20, 28, 0.811);
    margin-top: 150px;
    width: 50%;
    height: 400px;
    padding: 50px;
    border-radius: 50%;
    margin-right: 50px;
}

.box2 {
    margin-top: 150px;
    margin-left: 50px;
    width: 30%;
    height: 400px;
    text-align: center;
}

.head-intro {
    line-height: 90px;
    font-size: 60px;
    color: rgb(0, 255, 72);
}

#prolink {
    color: darkorange;
    display: block;
    text-align: center;
    margin: auto;
}

#head {
    text-align: left;
    color: aliceblue;
    font-size: 40px;
    margin-left: 50px;
}

.foot {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: grey;
    width: 100%;
    height: 50px;
}

.footid {
    font-size: 20px;
    text-decoration: none;
    margin-left: 50px;
    color: wheat;
}

.footid:hover {
    background-color: black;
    color: whitesmoke;
}


/* project page */

.animate-charcter {
    background-image: linear-gradient( -225deg, #24d241 0%, #e96914 29%, #ff1361 67%, #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: block;
    font-size: 100px;
    text-align: center;
    margin-top: 50px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.project {
    background-size: cover;
    background-image: url(./vector-blue-technology-circle-and-computer-science-abstract-background-with-blue-and-white-line-dot-business-and-connection-concept-futuristic-and-industry-4-0-concept-internet-cyber-and-network-theme.webp);
}

.container1 {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 50px;
    justify-content: center;
}

.box h1 {
    position: absolute;
    color: white;
    left: 150px;
    top: 20px;
    display: none;
}

.btns {
    position: absolute;
    top: 200px;
    left: 120px;
    display: none;
}

.btns a {
    padding: 5px;
    margin: 20px;
    background-color: rgb(63, 63, 187);
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

.btns a i {
    color: #fff;
    size: 30px;
}

.box {
    position: relative;
}

.box5,
.box6,
.box3,
.box4 {
    margin: 10px;
    width: 500px;
    height: 300px;
    margin-left: 50px;
    text-align: center;
    text-decoration: underline;
}

.box5 img:hover+h1,
.box6 img:hover+h1,
.box3 img:hover+h1,
.box4 img:hover+h1 {
    display: block
}

.box5 img:hover~.btns,
.box6 img:hover~.btns,
.box3 img:hover~.btns,
.box4 img:hover~.btns {
    display: block
}

.box5 img:hover,
.box6 img:hover,
.box3 img:hover,
.box4 img:hover {
    filter: blur(10px);
}


/* about page */

.img-cont {
    height: 300px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.img-cont img:hover {
    filter: blur(10px);
}

.img-cont a {
    position: absolute;
    top: 350px;
    text-decoration: none;
    background-color: black;
    padding: 5px;
    border-radius: 50px;
    color: white;
    display: none;
}

.img-cont img:hover+a {
    display: block;
}

.profile {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.myprofile {
    font-size: 20px;
    text-decoration: underline;
}

.links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.link {
    text-decoration: none;
    margin: 0px 10px 0px 10px;
    font-size: 15px;
}

.para {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.phra {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.skills {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.html,
.css,
.javascript,
.python,
.bootstrap,
.django {
    margin: 50px 150px 50px 150px;
}

.html h3,
.css h3,
.javascript h3,
.python h3,
.bootstrap h3,
.django h3 {
    margin-left: 70px;
}

.skill-head {
    margin-top: 70px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    text-decoration: underline;
}


/* html */

.circle-container {
    width: 150px;
    height: 150px;
    background: #e1e1e1;
    border-radius: 50%;
    position: absolute;
    top: 950px;
    left: 310px;
}

.circle-container .circle .item,
.circle-container .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.circle-container .circle .item {
    clip: rect(0px, 150px, 150px, 64px);
}

.circle-container .circle .item .fill {
    clip: rect(0px, 64px, 150px, 0px);
    background-color: #ef1313d6;
}

.circle-container .circle .item.layer-1,
.circle-container .circle .fill {
    transform: rotate(160deg);
}

.inside-content {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: rgb(9, 249, 97);
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    font-weight: 700;
    font-size: 32px;
    line-height: 130px;
}


/* css */

.circle-container1 {
    width: 150px;
    height: 150px;
    background: #E1E1E1;
    border-radius: 50%;
    position: absolute;
    top: 950px;
    left: 820px;
}

.circle-container1 .circle .item,
.circle-container1 .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.circle-container1 .circle .item {
    clip: rect(0px, 150px, 150px, 64px);
}

.circle-container1 .circle .item .fill {
    clip: rect(0px, 64px, 150px, 0px);
    background-color: #129beb;
}

.circle-container1 .circle .item.layer-1,
.circle-container1 .circle .fill {
    transform: rotate(145deg);
}

.inside-content1 {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #D5F2E3;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    font-weight: 700;
    font-size: 32px;
    line-height: 130px;
}


/* js */

.circle-container2 {
    width: 150px;
    height: 150px;
    background: #E1E1E1;
    border-radius: 50%;
    position: absolute;
    top: 950px;
    left: 1330px;
}

.circle-container2 .circle .item,
.circle-container2 .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.circle-container2 .circle .item {
    clip: rect(0px, 150px, 150px, 64px);
}

.circle-container2 .circle .item .fill {
    clip: rect(0px, 64px, 150px, 0px);
    background-color: #f8f415;
}

.circle-container2 .circle .item.layer-1,
.circle-container2 .circle .fill {
    transform: rotate(136deg);
}

.inside-content2 {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #f52a34;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    font-weight: 700;
    font-size: 32px;
    line-height: 130px;
}


/* py */

.circle-container3 {
    width: 150px;
    height: 150px;
    background: #E1E1E1;
    border-radius: 50%;
    position: absolute;
    top: 1270px;
    left: 310px;
}

.circle-container3 .circle .item,
.circle-container3 .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.circle-container3 .circle .item {
    clip: rect(0px, 150px, 150px, 64px);
}

.circle-container3 .circle .item .fill {
    clip: rect(0px, 64px, 150px, 0px);
    background-color: #8bd728;
}

.circle-container3 .circle .item.layer-1,
.circle-container3 .circle .fill {
    transform: rotate(156deg);
}

.inside-content3 {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #f2d5e6;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    font-weight: 700;
    font-size: 32px;
    line-height: 130px;
}


/* bootstrap */

.circle-container4 {
    width: 150px;
    height: 150px;
    background: rgba(0, 0, 0, 0.221);
    border-radius: 50%;
    position: absolute;
    top: 1270px;
    left: 820px;
}

.circle-container4 .circle .item,
.circle-container4 .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.circle-container4 .circle .item {
    clip: rect(0px, 150px, 150px, 64px);
}

.circle-container4 .circle .item .fill {
    clip: rect(0px, 64px, 150px, 0px);
    background-color: #15f88e;
}

.circle-container4 .circle .item.layer-1,
.circle-container4 .circle .fill {
    transform: rotate(136deg);
}

.inside-content4 {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #f52a34;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    font-weight: 700;
    font-size: 32px;
    line-height: 130px;
}


/* django */

.circle-container5 {
    width: 150px;
    height: 150px;
    background: #c0bbbb;
    border-radius: 50%;
    position: absolute;
    top: 1270px;
    left: 1330px;
}

.circle-container5 .circle .item,
.circle-container5 .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.circle-container5 .circle .item {
    clip: rect(0px, 150px, 150px, 64px);
}

.circle-container5 .circle .item .fill {
    clip: rect(0px, 64px, 150px, 0px);
    background-color: #ef1313;
}

.circle-container5 .circle .item.layer-1,
.circle-container5 .circle .fill {
    transform: rotate(160deg);
}

.inside-content5 {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: rgb(9, 249, 97);
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    font-weight: 700;
    font-size: 32px;
    line-height: 130px;
}

.edu-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    /* height: 1000px; */
}

.edu1,
.edu2,
.edu3,
.edu4,
.edu5,
.edu6 {
    width: 600px;
    height: 150px;
    /* margin: 50px; */
    border: 5px solid black;
    border-radius: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.edu2,
.edu4,
.edu6 {
    margin-top: 150px;
}

.edu1 h3,
.edu2 h3,
.edu3 h3,
.edu4 h3,
.edu5 h3,
.edu6 h3 {
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
}

.edu1 p,
.edu2 p,
.edu3 p,
.edu4 p,
.edu5 p,
.edu6 p {
    font-size: 20px;
    text-align: center;
}

.edu1 {
    background-color: #24d241;
}

.edu2 {
    background-color: #d25224;
}

.edu3 {
    background-color: #2498d2;
}

.edu4 {
    background-color: #d2246a;
}

.edu5 {
    background-color: #d22424;
}

.edu6 {
    background-color: #c7d224;
}

.hrline1,
.hrline2,
.hrline3,
.hrline4,
.hrline5,
.hrline6 {
    background-color: black;
    width: 100px;
    height: 7px;
}

.hrline4,
.hrline5,
.hrline6 {
    width: 120px;
}

.hrline0 {
    background-color: black;
    width: 7px;
    height: 770px;
    position: absolute;
    top: 1650px;
    left: 750px;
}

.hrline1 {
    position: absolute;
    top: 1670px;
    left: 650px;
}

.hrline2 {
    position: absolute;
    top: 1975px;
    left: 650px;
}

.hrline3 {
    position: absolute;
    top: 2275px;
    left: 650px;
}

.hrline4 {
    position: absolute;
    top: 2425px;
    left: 750px;
}

.hrline5 {
    position: absolute;
    top: 2125px;
    left: 750px;
}

.hrline6 {
    position: absolute;
    top: 1820px;
    left: 750px;
}

.circle1,
.circle2,
.circle3,
.circle4,
.circle5,
.circle6 {
    border: 5px solid black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 728px;
}

.circle1 {
    top: 1650px;
    background-color: #24d241;
}

.circle2 {
    top: 1955px;
    background-color: #2495d2;
}

.circle3 {
    top: 2255px;
    background-color: #d70909;
}

.circle4 {
    top: 2405px;
    background-color: #bdea1a;
}

.circle5 {
    top: 2105px;
    background-color: #ed087e;
}

.circle6 {
    top: 1799px;
    background-color: #e8580a;
}

.empty {
    height: 100px;
}


/* Contact Page */

.contact-form {
    padding: 20px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto auto;
}

.con-det {
    font-size: 30px;
    font-weight: bold;
}

#msg {
    height: 200px;
    width: 400px;
}

.contact-details {
    width: 700px;
    height: 500px;
    border: 5px solid black;
    background-image: url(./contactus.webp);
}

.location {
    border: 5px solid black;
    width: 610px;
    height: 500px;
}

#sub-btn {
    background-color: black;
    color: white;
    font-size: 30px;
    width: 200px;
    position: absolute;
    top: 550px;
    left: 200px;
}

.inpt {
    height: 40px;
    font-size: 20px;
}

.home,
.project,
.about,
.contact {
    display: none;
}

.active {
    display: block;
}